- formlet ||= @formlet
= render partial: "#{formlet}_formlet", locals: {formlet: formlet}
:coffeescript
	$('##{formlet} .cancel').click (e) ->
		$('##{formlet}').removeClass 'active'
		false # Prevent click action. Prevent reactivation by stopping propagation to the parent formlet element.
	$('.dont_popover').click (e) ->
		e.stopPropagation() # Allow clicking on the element without activating the formlet.
