-# Default is english.  Create localized partials for other languages.
= link_to 'Sign in', member_sign_in_return_path
or
= link_to 'sign up', member_sign_up_return_path
= "to rate and review #{profile.display_name_or_company}"
