.search_providers
	= form_tag '/search_providers', method: :get do
		= text_field_tag :query, search_query_string(@search), size: 24, id: 'provider_search_query'
		= submit_tag 'Find an expert', id: 'provider_search_button'
