- @body_class = 'interior about'
- @page_title = "#{company_name} - Learn more about payments"
- cache ['about_payments', @profile, user_signed_in?] do
	%section#content
		%header#about_payments.payments
			%h2 Kinstantly gives you a better way to pay your favorite providers, like music teachers, preschools, tutors, and therapists.
			%ul
				%li Enter your credit card info just once to pay any provider on Kinstantly
				%li No more forgetting to take a check to all those weekly appointments
				%li Get automatic reminders and receipts
				%li Pay for quick consults with your provider&mdash;like a 10-minute phone call or 5-minute video chat&mdash;when you need answers fast
			%p
				Ready to get started?
				= link_to 'Just click here', authorize_payment_path(@profile)
				- if user_signed_in?
					and fill out a short form.
				- else
					and fill out a short form (you'll be asked to sign up or log in first).
