/* Mobile and default values */

.home {
	background: white url("/maintenance/home-img.jpg") center top no-repeat;
}

#branding {
	width: 100%;
}

#branding h1 {
	display: block;
	background: transparent url("/maintenance/kinstantly.png");
	text-indent: -999em;
	background-size: 100% auto;
	margin: 16px 100px 0 0;
	width: 321px;
	min-height: 116px;
}

#content {
	padding: 18px 0 0 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #404040;
}

#content p {
	background-color: rgba(255,255,255,0.15);
	color: #000;
}

/* Bigger mobile */

@media only screen and (min-width: 460px) {
	#branding h1 {
		width: 441px;
		height: 159px;
	}
}

/* Laptop and desktop */

@media only screen and (min-width: 900px) {
	#branding h1 {
		float: left;
	}
	
	#content {
		color: #808080;
	}
}
