#content
	.wider_form
		- unless Rails.configuration.running_as_private_site
			%p
				We want to make sure reviews are written by real people &mdash; and profiles are filled out by real service providers &mdash; not by RoboDad or Dr. Bot.
			%br
			%p
				To verify that you're a real person, please check your email and click on the confirmation link we just sent you.
			%br
			%p
				That will complete your registration and let you get straight to rating, reviewing, or filling out your profile.
			%br
			%p
				Thanks very much!
		
			= render "devise/shared/links"
		- else
			%p Thanks for your interest in Kinstantly.
			%br
			%p We'll review your request within 48 hours (usually much sooner). If everything looks fine, we'll send an email with login information to the address you provided.
			%br
			%p
				If you have any questions in the meantime, please email
				- info_email_address = 'info@kinstantly.com'
				:plain
					<a href="mailto:#{info_email_address}">#{info_email_address}</a>.
			%br
			%p Thanks!
