- path = edit_subscriptions_url
#sign_up.sign_up.smaller_form
	- if user_signed_in?
		%p
			= link_to t('views.user.view.subscription_preferences_link'), path, target: "_blank"
			to make sure you're signed up for our weekly newsletters.
	-else
		= render partial: "devise/shared/signup", locals:{ embedded_in: true, inline_tip: false }
		%p
			Already signed up with Kinstantly?
		%p
			= link_to "Click here", path, target: "_blank"
			to change your subscription preferences.
