- @hide_search_providers = true
- @content_class = @signing_up_for_newsletter ? 'no-upper-hr full-height full-width' : 'no-upper-hr'

-if @signing_up_for_newsletter
	= render "devise/shared/newsletter_signup"
-else
	= render "devise/shared/tabs"
