#content.inner_content_wrapper
	#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
		%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-corner-all
			%li
				=link_to 'Join Kinstantly', "#sign_up"
			%li
				=link_to 'Already a member? Sign in', "#sign_in"
		#sign_up.sign_up.generic_form
			= render partial: "devise/shared/signup", locals:{ embedded_in: true }
		#sign_in.sign_in.generic_form
			= render partial: "devise/shared/signin", locals:{ embedded_in: true }
	%br
	= render "devise/shared/links"

:javascript
	$("#tabs").tabs();

