- contact_blocker ||= @contact_blocker
- if (email_delivery = contact_blocker.try :email_delivery)
	%p= profile_invitation_to_claim_info email_delivery
	- if profile = email_delivery.profile
		%p
			= "#{EmailDelivery.human_attribute_name :profile}:"
			= link_to profile.display_name_or_company, profile_path(profile)
