#content
	.unsubscribe.wider_form
		%h1= t 'views.contact_blocker.view.unsubscribe_error_title'
		%br
		%p
			= t 'views.contact_blocker.view.unsubscribe_error_html', opt_out_link: link_to(t('views.contact_blocker.view.unsubscribe_error_link_text'), new_contact_blocker_from_email_address_path), mailto: mail_to(SUPPORT_EMAIL, nil, subject: t('views.contact_blocker.view.unsubscribe_error_email_subject'))
