#confirmation
	%p= t 'views.profile_claim.create.confirmation', name: @profile_claim.profile.display_name
	%p= link_to t('views.profile_claim.create.done'), '#', class: 'cancel button'
:coffeescript
	# Cancel buttons should close and clear the pop-over.
	$('#claim_profile .cancel').on 'click', my_vars.f.close_profile_claim_form
