- @hide_search_providers = true
- @content_class = 'no-upper-hr'
- short_company_description = t 'company.short_company_description_html'

- cache ['newsletter_archive', Newsletter.last_updated] do
	.container.newsletter-archive
		%p
			= (link_to "< Back to sign up", newsletter_signup_path, {class: 'back-to-signup-link'}) unless user_signed_in?
		= image_tag "newsletter_banner.jpg", alt: short_company_description, itemprop: 'image', class: "banner"
		%h1 Newsletter archive
		%ul.mobile-nav
			%li Jump to:
			%li 
				%a{ href: '#col-one'} Ages 0-4
			%li 
				%a{ href: '#col-two'} Ages 5-12
			%li 
				%a{ href: '#col-three'} Teens
		%article.newsletter-list
			.col.one-third#col-one
				%h3 Ages 0-4
				%ul
					- @stage1_newsletters.each do |newsletter|
						%li
							=link_to format_newsletter_date(newsletter.send_time), newsletter_path(newsletter.cid), { target: '_blank' }
					- if @stage1_newsletters.empty?
						%li No recent newsletter
			.col.one-third#col-two
				%h3 Ages 5-12
				%ul
					- @stage2_newsletters.each do |newsletter|
						%li
							=link_to format_newsletter_date(newsletter.send_time), newsletter_path(newsletter.cid), { target: '_blank' }
					- if @stage2_newsletters.empty?
						%li No recent newsletter
			.col.one-third.last#col-three
				%h3 Teens
				%ul
					- @stage3_newsletters.each do |newsletter|
						%li
							=link_to format_newsletter_date(newsletter.send_time), newsletter_path(newsletter.cid), { target: '_blank' }
					- if @stage3_newsletters.empty?
						%li No recent newsletter