- if @update_succeeded.nil?
	- url = @user.is_provider? ? edit_profile_path(@user.profile) : edit_user_registration_path
	window.location.replace("#{url}");
- else
	- if @update_succeeded
		my_vars.f.close_formlets();
	- formlet = escape_javascript "#{@formlet}".strip.gsub(/[.\/]/, '')
	$('##{formlet}').fadeOut(400, function() { $(this).html('#{escape_javascript(render partial: formlet+'_formlet')}').fadeIn(400); });
