.profile_index
	.profile_list{align: 'center'}
		%table
			%thead
				%tr
					%th Login email
					%th Name
					%th Profile (click to view)
			%tbody
				- @users.sort{|a, b| a.email.casecmp b.email}.each do |u|
					%tr
						%td= u.email
						%td= profile_display_name u.profile
						%td= user_list_profile_link u.profile
