= "Hi #{@profile.first_name.presence || 'there'},"
%br
%br
Now that you're set up to accept online payments, here's what to expect:
%br
%br
As soon as a customer authorizes online payments to you, you'll receive an email alert, with a link that will allow you to initiate a charge. 
%br
%br
:plain
	To review all your payment information&mdash;including a list of customers who have authorized payments to you&mdash;visit your <a href="#{customer_files_url}">payments dashboard</a>.
%br
%br
You can also invite your clients to pay you online by copying and pasting the following link into an email:
%br
= link_to about_payments_profile_url(@profile), about_payments_profile_url(@profile)
%br
%br
Need help? Give us a shout&mdash;just reply to this email&mdash;and we'll get back to you right away.
%br
%br
Thanks!
%br
%br
&ndash; Jim Scott and Edward Simpson
%br
Founders
