.follow
	%span Follow us on:
	%a.fb{:href => "https://www.facebook.com/kinstantly"} Facebook
	%a.tw{:href => "https://twitter.com/Kinstantly"} Twitter
	%a.gp{:href => "https://plus.google.com/118016710340045796364"} Google Plus
