- @page_title = 'Become a Zatch Expert'
.become_expert
	.content{align: 'center'}
		%a{name: 'top'}
		%iframe(src="https://docs.google.com/spreadsheet/embeddedform?formkey=dGFsRHp1blBPY2pzMDQxSzA0LWFIZGc6MQ" width="760" height="2881" frameborder="0" marginheight="0" marginwidth="0")
			Loading...
		.bottom_nav
			= link_to "Go to top", '#top'
			= link_to "Home", root_path
