- @page_title = "#{company_name} - Contact us"
.contact
	.content{align: 'center'}
		%iframe(onLoad="window.scrollTo(0,0);" src="https://docs.google.com/spreadsheet/embeddedform?formkey=dG1tVE5ZUU5Zd3Y3ZzJfM0ZNT1pEb0E6MQ" width="760" height="450" frameborder="0" marginheight="0" marginwidth="0")
			Loading...
