= form_for customer do |f|
	= hidden_field_tag :profile_id, profile.to_param
	= hidden_field_tag :card_changed, true
	%script{src: 'https://checkout.stripe.com/checkout.js', class: 'stripe-button', 'data-key' => Rails.configuration.stripe[:publishable_key], 'data-description' => t('views.customer.edit.change_card_title'), 'data-email' => current_user.email, 'data-panel-label' => "#{t 'views.customer.edit.change_card_button'}", 'data-allow-remember-me' => 'false', 'data-label' => t('views.customer.edit.change_card_button')}
