%html
	%body
		#{@profile.display_name_or_company} Profile has been updated
		%br
		%br 
		= link_to 'View Profile', profile_url(@profile)
		%br
		%br 
		= link_to 'Edit Profile', edit_plain_profile_url(@profile)
