%html
	%body
		- if @user
			%p
				This parent registered on
				= mailer_display_time @user.created_at
			%p
				email address:
				= @user.email
			%p
				username:
				= @user.username
			%p= mailer_edit_user_link @user
		- else
			%p Oops, can't find the parent's record.
