.error_panel
	%p
		Something went wrong.
	%p= link_to 'Click to try again', (@after_stripe_connect_path || edit_my_profile_path), class: 'button'
	%p 
		Questions? Email us at
		= mail_to "#{t('contact.emails.info.value')}@#{t('email_domain')}"
