.error_panel
	%p
		Something went wrong.
		%br
		Please close this window and try again.
	%p= link_to 'Close', '#', class: 'close_button'
:coffeescript
	close_window = ->  
		window.close()
		false
	
	# setTimeout close_window, 5000

	$('.error_panel .close_button').on 'click', close_window
