.confirmation_panel
	%p.blue
		Thanks for connecting your Kinstantly profile to Stripe. Now let your customers know!
	%p= link_to 'Close', '#', class: 'close_button'
:coffeescript
	close_window = ->  
		window.close()
		false
	
	# setTimeout close_window, 5000

	$('.confirmation_panel .close_button').on 'click', close_window
