-#= "Hi #{@resource.username.presence || 'there'},"
%span{style: 'font-size:16px;'}
	You're just a click away from creating your free profile on Kinstantly&mdash;and more referrals!
	%br
%p{style: 'margin-top:25px;margin-bottom:20px;'}
	= link_to 'Confirm email address', confirmation_url(@resource, confirmation_token: @token), style: 'background-color:#e75370;border-radius:4px;color:#fff;font-size:16px;display:inline-block;font-weight:bold;padding:10px 25px;text-decoration:none;'
%span{style: 'font-size:16px;'}
	%br
	Thanks,
	%br
	&ndash; The Kinstantly Team
