%h2{style: 'font-size:22px;color:#f64f6f;'}
	Confirm your Kinstantly account
-#= "Hi #{@resource.username.presence || 'there'},"
%br
You're just a click away from building your free profile on Kinstantly!
%br
%p{style: 'margin-top:25px;margin-bottom:20px;'}
	= link_to 'Confirm email address', confirmation_url(@resource, confirmation_token: @resource.confirmation_token), style: 'background-color:#e75370;border-radius:4px;color:#fff;font-size:16px;display:inline-block;font-weight:bold;padding:10px 25px;text-decoration:none;'
%br
Thanks,
%br
&ndash; The Kinstantly Team
