- name = @resource.profile_to_claim.try :first_name
= "Hi#{' '+name if name.present?},"
%br
%br
Welcome to Kinstantly: a fast, simple way to list your services, so the clients you want can find you.
%br
%br
%strong Key benefits:
%ul
	%li It takes just minutes to create your listing &mdash; get discovered right away
	%li You can highlight your most important information on just one page &mdash; spend less time answering clients' initial questions
	%li You can change or update your information easily, whenever you want &mdash; keep clients up to date if you change your hours or location
	%li It's free &mdash;&nbsp; :)
%strong To get started
(or to update your listing),
= link_to 'click here.', edit_my_profile_url
%br
%br
And if you have any questions or need help, just reply to this email.
%br
%br
Thanks,
%br
&ndash; The Kinstantly Team
