%p Hi there,
%p Please confirm the Kinstantly account you recently created by clicking this link:
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @resource.confirmation_token)
%p Once confirmed, you'll have full access to Kinstantly's profiles, ratings, reviews, and other features.
%p
	Welcome to Kinstantly!
	%br
	&ndash; The Kinstantly Team
