= "Hi #{@resource.username.presence || 'there'},"
%br
%br
Please complete your registration on Kinstantly by clicking this link: Confirm
= link_to 'my account.', confirmation_url(@resource, confirmation_token: @resource.confirmation_token)
%br
%br
Once confirmed, you'll have full access to all the features on Kinstantly.
%br
%br
Thanks for subscribing to our newsletter&mdash;and welcome to Kinstantly!
%br
%br
&ndash; The Kinstantly Team
