- name = @resource.profile_to_claim.try :first_name
= "Hi#{' '+name if name.present?},"
%br
%br
Thanks for joining Kinstantly. You're all set to update your 
= link_to 'free profile', edit_my_profile_url
whenever you want, as often as you want. By the way, parents tell us these are the things they look for most:
%br
%br
%ul
	%li your specialties
	%li a short but warm "About" bio that gives them a sense of who you are
	%li a photo of you (a smile helps)
	%li the best ways to contact you
%br
%br
Also, if you haven't already, be sure to include your street address &ndash; or at least your zip code &ndash; so that anyone searching for you can see your location on the map.
%br
%br
Please don't hesitate to shoot me an email if you need help or have questions. Just reply to this email.
%br
%br
Thanks so much,
%br
%br
Jim Scott
%br
Founder and CEO
%br
= link_to t('company.name'), root_url
