-# - name = @resource.profile_to_claim.try :first_name
-# = "Hi #{name.presence || 'there'},"
You're in! As soon as you
= succeed ',' do
	= link_to 'complete your profile', edit_my_profile_url
it will be visible to our nearly 1 million visitors around the world&mdash;and will get picked up by google and other search engines.
%br
%br
- if @resource.provider_newsletters
	In the weeks and months ahead, we'll be sending you some pretty great tips and insights on how you can grow your business (many shared by other providers, like you).
	%br
	%br
In the meantime, if you have a few seconds, I'd like to get to know you a bit...
%br
%br
I'd really appreciate it if you'd hit reply to this message and tell me just a few quick things about you&mdash;especially any particular issues or challenges you face in your business right now.
%br
%br
That'll help us shape the messages we send you, so we can make a real difference in your business&mdash;and your life.
%br
%br
Thanks so much,
%br
%br
Jim Scott
%br
Co-founder and CEO
%br
Kinstantly
