%p= "Hi #{@resource.name_for_greeting.presence || 'there'},"
%p Someone recently made a request to change the password on your account.
%p If you requested this password change, please set a new password by following the link below:
%p= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%p If you don’t want to change your password, just ignore this message.
%p
	Thanks,
	%br
	&mdash; The Kinstantly Team
