= "Hi #{@resource.name_for_greeting.presence || 'there'},"
%br
%br
Someone recently made a request to change the password for your account.
%br
%br
If you requested this change, please set a new password by following the link below:
%br
%br
= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
%br
%br
If you don't want to change your password, just ignore this message.
%br
%br
Thanks,
%br
&ndash; The Kinstantly Team
