// Styles for the admin interface.

@mixin header-style {
	text-align: center;
	font: {
		size: 16px;
		weight: bold;
	}
}

.index {
	h1 {
		@include header-style;
	}
	.list {
		.name {
			display: inline-block;
			margin-right: 1em;
			margin-bottom: 0.2em;
		}
		span.name {
			background-color: #EEEEEE;
		}
		a.name {
			color: black;
			//background-color: #EEEEEE;
		}
		.predefined {
			color: green;
		}
		.not_browsable, .not_browsable a {
			color: gray !important;
		}
	}
}

.edit {
	h1 {
		@include header-style;
	}
	#forms {
		.input {
			margin: 1em 0.25em;
			input, select, .hint {
				margin-left: 1em;
				margin-right: 1em;
			}
		}
		.checkbox {
			@include check-box-style;
			float: none;
			display: inline-block;
		}
		.check_boxes input:checked {
			//box-shadow: green 0 0 16px 6px;
			outline: 2px solid #ff2222;
			outline-offset: 1px;
		}
		.destroy_button {
			float: right;
			margin-bottom: 1em;
		}
		#search_terms_to_add {
			margin-top: 2em;
			input {
				display: block;
				margin: 1em 0;
			}
		}
		#add_search_term_name_field {
			display: block;
			margin-bottom: 2em;
		}
		#search_terms_to_remove {
			border: {
				top-style: solid;
				top-width: thin;
				bottom-style: solid;
				bottom-width: thin;
			}
			th {
				padding-right: 2em;
			}
			tr.o {
				background-color: #F5F5F5;
			}
		}
	}
	#links {
		clear: both;
		margin-top: 1em;
		border-top-style: solid;
		border-top-width: thin;
		h1 {
			text-align: left;
		}
		li {
			list-style-type: none;
		}
		.miniform_header {
			text-align: left;
		}
		.miniform {
			text-align: right;
			padding-right: 1em;
		}
		a.name {
			color: black;
			background-color: #EEEEEE;
		}
	}
}

.warning {
	color: rgb(200, 0, 0);
}

.pagination_nav {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	> * {
		display: inline;
	}
	.per_page {
		float: left;
	}
	.select_index_order_by {
		option[value=""] {
			font-style: italic;
		}
	}
}
.pagination_nav + * {
	clear: left;
}

.strong{
	font-weight: bold;
}

.cell{
	display: inline-block;
	padding: 5px 3px;
}
.provider_invite input[type=text], .provider_invite textarea{
	padding: 5px 6px 4px 6px;
	width: 900px;
	margin-bottom: 5px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.provider_invite label {
	display: inline-block;
	min-width: 110px;
	vertical-align: top;
}