// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home, .request_expert, .become_expert {
	.header {
		color: gray;
		text-align: center;
		border: {
			width: medium;
			color: gray;
			style: solid;
		}
		height: 80px;
		padding: 10px;
		margin: 10px;
	}
	.bottom_nav a {
		margin: {
			left: 1em;
			right: 1em;
		}
	}
}
