// Styles and values used across the site.

$default_font_family: Helvetica, Arial, sans-serif;
$default_link_color: #0b99a2;
$text_light_color: #807f7f;
$text_lighter_color: #d9d8d8;

@mixin cell-style {
	border: {
		width: thin;
		color: gray;
		style: solid;
	}
	padding: 4px;
}

@mixin profile-admin-style {
	> div {
		margin-bottom: 0.5em;
		.value {
			@include cell-style;
		}
	}
}

@mixin check-box-style {
	display: inline-block;
	margin-left: 1em;
	margin-top: 0.5em;
	background-color: #F5F5F5;
	label {
		margin-left: 0.5em;
		color: $text_light_color;
		font-size: 14px;
		font-weight: normal;
	}
}

span.note, .blank_attr {
	font: {
		style: italic;
		weight: lighter;
		size: small;
	}
}

.text_area {
	white-space: pre-line;
}

/* Messages */

// $notice_color: #afb434;
$notice_color: #9fa42f;
$alert_color: #e43d5d;

.flash_messages {
	font-family: $default_font_family;
	line-height: 20px;
	width: 100%;
	text-align: center;
	margin-top: 0.5em;
	.notice {
		color: $notice_color;
	}
	.alert {
		color: $alert_color;
	}
}

.formlet {
	.errorExplanation {
		color: $alert_color;
		h2, p {
			display: none;
		}
	}
	.field_with_errors label {
		background-color: rgba(228,61,93,0.2);
	}
}

/* Accessibility */

#skip {
	a, a:hover, a:visited {
		position: absolute;
		left: 0px;
		top: -500px;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
	a:active, a:focus {
		position: static;
		width: auto;
		height: auto;
	}
}
