// Styles for interior pages, i.e., not the home page.

$default_color: black;
$default_background: white;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li, input, textarea,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	color: $default_color;
	background: $default_background;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,navigation,section,summary {
	display: block;
}
/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
audio,canvas,video {
	display: inline-block;
	*display: inline;
	*zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
audio:not([controls]) {
	display: none;
	height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
[hidden] {
	display: none;
}
.clearfix:before, .clearfix:after {
	content: "\0020"; display: block; height: 0; visibility: hidden;
}
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

/* End CSS reset */

@font-face {
	font-family: 'museo_slab500';
	src: url('fonts/museo_slab_500-webfont.eot');
	src: url('fonts/museo_slab_500-webfont.eot?#iefix') format('embedded-opentype'),
			 url('fonts/museo_slab_500-webfont.woff') format('woff'),
			 url('fonts/museo_slab_500-webfont.ttf') format('truetype'),
			 url('fonts/museo_slab_500-webfont.svg#museo_slab500') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin pipe-separator-style {
	content: '|';
	font-size: 0.9375em;
	padding: 0 0.7333em;
}

@mixin bullet-separator-style {
	span {
		display: inline;
		padding-right: 0.38em;
	}
	span + span:before {
		display: inline-block; // This allows word-wrap to break around a bullet.
		content: '\2022';
		font-size: 150%;
		padding-right: 0.25em;
		color: $default_link_color;
	}
}

/*
Base styles
*/

html, body {
	height:100%;
	width: 100%;
	font-size: 100%;
}
.container {
	width: 960px;
	margin: 0px auto;
}
a {
	color: $default_link_color;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* Override some jQuery UI styles. */
.ui-widget-content {
	color: $default_color;
	a {
		color: $default_link_color;
	}
}

/*  Header -------------------------------------------------------------------------- */

#branding {
	width: 100%;
	font-family: $default_font_family;
}
#tagline {
	float: left;
	text-indent: -999em;
	background: url('tagline.gif') no-repeat;
	width: 294px;
	height: 17px;
	margin: 32px 0 0 26px;
}
#access {
	display: block;
	float: right;
	margin: 28px 26px 8px 0;
	font-family: $default_font_family;
}
#branding h1 a {
	display: block;
	background: transparent url('kinstantly-logo.png') no-repeat;
	text-indent: -999em;
	margin: 0;
	width: 196px;
	min-height: 46px;
	float: left;
}
#access ul li {
	float: left;
	font-size: 1em;
	display: block;
	color: #BDBCBD;
}
#access ul li#signin {
	margin-left: 35px;
	font-size: 0.9375em;
}
#access ul {
	li#skip a:after {
		@include pipe-separator-style;
		color: #BDBCBD;
	}
	// The extra 'li +' matches the skip link that is used for accessibility.
	li + li + {
			li#about:before, li#contact:before, li#myprofile:before, li#settings:before, li#signout:before {
			@include pipe-separator-style;
			color: #BDBCBD;
		}
	}
}

#access ul li a {
	color: #0b99a2;
	font-weight: bold;
	text-decoration: none;
}
#access ul li a:hover {
	text-decoration: underline;
}

$corner_radius: 8px;
$masthead_width: 920px;
@mixin masthead-style {
	padding-right: 0px;
	padding-left: 40px;
	-webkit-border-radius: $corner_radius;
	-moz-border-radius: $corner_radius;
	border-radius: $corner_radius;
	-webkit-background-clip: padding-box;
	clear: both;
	width: $masthead_width;
	margin: 0px auto;
	z-index: 100 !important;
}
#masthead {
	background: #e23e5d;
	padding-top: 32px;
	padding-bottom: 22px;
	@include masthead-style;
}

@mixin search-text-input-border-style {
	border-top: 1px solid #514447;
	border-left: 1px solid #514447;
	border-bottom: 1px solid #a89b9e;
	border-right: 1px solid #a89b9e;
	-moz-box-shadow: inset 1px 1px #d0c4c6;
	-webkit-box-shadow: inset 1px 1px #d0c4c6;
	box-shadow: inset 1px 1px #d0c4c6;
}
#search_providers {
	float: left;
	margin-left: 14px;
	input {
		@include search-text-input-border-style;
		padding: 10px 12px;
		background: $search_input_background;
		width: 268px;
		height: 16px;
		//font-size: 1.125em;
		color: $search_input_color;
		line-height: 1em;
		float: left;
		margin-right: 8px;
	}
	#provider_search_button {
		background: url('search-sprite-rec-grn.png') no-repeat center 0px;
		text-indent: -999em;
		width: 64px;
		height: 38px;
		border: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	#provider_search_button:hover {
		background: url('search-sprite-rec-grn.png') no-repeat center -38px;
		cursor: pointer;
	}
	.select-wrapper {
		-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px;
		background: url('arrow.png') no-repeat 207px center $search_input_background;
		border-top: 1px solid #514447;
		border-left: 1px solid #514447;
		border-bottom: 1px solid #a89b9e;
		border-right: 1px solid #a89b9e;
		-moz-box-shadow: inset 1px 1px #d0c4c6;
		-webkit-box-shadow: inset 1px 1px #d0c4c6;
		box-shadow: inset 1px 1px #d0c4c6;
		display: block;
		width: 242px;
		height: 36px;
		font-size: 1.125em;
		color: $search_input_color;
		line-height: 1em;
		position: relative;
		float: left;
	}
	.select-text {
		display: block;
		font-size: 1em;
		color: $search_input_color;
		padding: 8px 12px;
		z-index: 1;
	}
	select {
		/* Position the select over the span*/
		min-height: 41px !important;
		padding: 0px;
		display: block;
		left: 0;
		position: absolute;
		top: 0px;
		width: 100%;
		z-index: 100;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		-moz-opacity: 0;
		-khtml-opacity: 0;
		-webkit-opacity: 0;
		opacity: 0;
	}
	#provider_sign_up_link {
		clear: left;
		float: right;
	}
	.small {
		font-size: 0.9375em;
		font-weight: bold;
		color: #FFF;
		-webkit-font-smoothing: antialiased;
		float: left;
		margin-left: 10px;
		margin-top: 15px;
	}
	.small a {
		color: #fbc5cf;
		text-decoration: none;
	}
	.small a:hover {
		text-decoration: underline;
		color: #FFF;
	}
	select:hover {
		cursor: pointer;
	}
	select option {
		font-size: 150%;
	}
}

/*  Content -------------------------------------------------------------------------- */

#content {
	width: 100%;
	margin-top: 38px;
	font-family: $default_font_family;
}
.editor_buttons + #content {
	margin-top: 8px; // If preceded by editor buttons, we don't need the large margin.
}
.content-header {
	width: 920px;
	margin: 0px auto 42px auto;
}
.details {
	background: #F5F5F5;
	padding: 23px 0px 24px 0px;
	margin-bottom: 43px;
}
.details .interior {
	width: 900px;
	margin: 0px auto;
}
#reviews {
	width: 900px;
	margin: 0px auto 44px auto;
}

$profile_tab_width: 950px;
$profile_tab_padding: 4px;

.profile_content {
	#tabs {
		width: $profile_tab_width;
		padding: $profile_tab_padding !important;
		margin: 0px auto;
		.ui-tabs-panel {
			padding: 1.5em 0px;
//			#show_tab_note {
//				float: left;
//				margin: -20px 12px 12px 12px;
//				width: 185px;
//			}
			#editing_tip {
				font-size: 15px;
				color: $default_link_color;
				text-align: left;
				margin: -0.5em auto 1em 200px;
				padding-left: 18px;
				background: url('edit.png') 0px 0px no-repeat;
			}
		}
		.details {
			width: $profile_tab_width;
		}
		.panel_loading {
			background-image: url('loading_large.gif');
			background-position: center top;
			background-repeat: no-repeat;
			width: 100%;
			height: 1000px;
		}
	}
}

/*  Profile header -------------------------------------------------------------------------- */

@mixin profile-photo-style {
	float: left;
	margin-right: 34px;
}
.profile-photo-placeholder {
	@include profile-photo-style;
	width: 152px;
	height: 108px;
	padding: 60px 8px 0 8px;
	border: 0;
	background: url('profile-photo-placeholder.jpg') 0px 0px no-repeat;
	text-align: center;
	color: $text_light_color;
}
.profile-photo {
	@include profile-photo-style;
	width: 168px;
	height: auto;
}
.profile {
	width: 410px;
	float: left;
	h1 {
		font-weight: bold;
		font-size: 22px;
		line-height: 22px;
		float: left;
		margin-bottom: 3px;
		margin-right: 9px;
	}
	#display_name h1 {
		width: 300px; // On edit page, to keep star rating from underlaying the edit icon.
	}
	span {
		line-height: 20px;
		color: $text_light_color;
		display: block;
		width: 100%;
		clear: left;
	}
	div.reviews {
		float: left;
		width: auto;
		clear: none;
		margin-top: 2px;
	}
	span.title {
		font-size: 15px;
	}
	span.location, a.more_locations, a.hide_locations {
		font-size: 14px;
		line-height: 19px;
	}
	a.more_locations, a.hide_locations {
		float: right;
		padding-right: 8px;
	}
	span.location.more, a.hide_locations {
		display: none;
	}
	.location_address {
		margin-top: 4px;
	}
	.location_note {
		margin-bottom: 4px;
	}
	.help_icon {
		position: relative;
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: -20px;
		margin-bottom: -4px;
		background: url('help_16.png') 0px 0px no-repeat;
		+ .location {
			display: inline;
		}
		.help_popover {
			display: none;
			position: absolute;
			right: 16px;
			bottom: 16px;
			width: 188px;
			font-size: 13px;
			padding: 4px;
			color: #222;
			background-color: rgba(255, 255, 255, 0.75);
			border: 1px solid black;
			@include button-corner-style;
		}
	}
	.help_icon:hover {
		cursor: pointer;
		.help_popover {
			display: block;
		}
	}
}
.reviews .star {
	background: url('star.gif') 0px 0px no-repeat;
	width: 17px;
	height: 17px;
	float: left;
	display: block;
}
.reviewed-5-star .star1, .reviewed-5-star .star2, .reviewed-5-star .star3, .reviewed-5-star .star4, .reviewed-5-star .star5 {
	background: url('star.gif') 0px -17px;
}
.reviewed-4-star .star1, .reviewed-4-star .star2, .reviewed-4-star .star3, .reviewed-4-star .star4 {
	background: url('star.gif') 0px -17px;
}
.reviewed-3-star .star1, .reviewed-3-star .star2, .reviewed-3-star .star3 {
	background: url('star.gif') 0px -17px;
}
.reviewed-2-star .star1, .reviewed-2-star .star2 {
	background: url('star.gif') 0px -17px;
}
.reviewed-1-star .star1 {
	background: url('star.gif') 0px -17px;
}
.provider_rating {
	form, .rating-title {
		float: left;
		margin-top: 0.5em;
	}
	.rating-title {
		width: 124px;
	}
}
.rate_provider_form .rate-this {
	width: 105px;
}
.reviews .review-num, .provider_rating .review-num, .provider_rating .rating-title, .rate_provider_form .rate-this {
	font-size: 13px;
	color: $text_light_color;
	padding-top: 3px;
	font-style: italic;
	float: left;
}
.reviews .review-num, .provider_rating .review-num {
	margin-left: 6px;
}
.rate, .rate_provider_form {
	padding-top: 8px;
}
.rate .star:hover {
	background: url('star.gif') 0px -17px no-repeat;
	cursor: pointer;
}
.rate_provider_form form {
	float: left;
	margin-top: 0.5em;
}
.rate .rate-this, .review-this {
	float: left;
	font-size: 13px;
	font-weight: bold;
	margin-right: 6px;
	padding-top: 8px;
}

@mixin appointment-style {
	height: 33px;
	a {
		display: block;
		text-indent: -999em;
		width: 170px;
		height: 33px;
		background: url('make-appointment.gif') 0px 0px;
	}
	a:hover {
		background: url('make-appointment.gif') 0px 33px;
	}
}

$contact_toolbar_width: 300px;
.contact-toolbar {
	width: $contact_toolbar_width;
	float: left;
	li {
		float: left;
		height: 19px;
		a, span {
			display: block;
			text-indent: -999em;
			width: 20px;
			height: 20px;
			margin: 0px 3px 0px 5px;
			float: left;
		}
	}
	li .blank_attr {
		text-indent: 0 !important;
		width: $contact_toolbar_width;
	}
	li.consult_by_email {
		a, span {
			background: url('contact-icons.png') 0px 0px no-repeat;
			width: 20px;
		}
	}
	li.consult_by_phone {
		a, span {
			background: url('contact-icons.png') -25px 0px no-repeat;
			width: 19px;
		}
	}
	li.consult_by_video {
		a, span {
			background: url('contact-icons.png') -79px 0px no-repeat;
			width: 19px;
		}
	}
	li.consult_in_person {
		a, span {
			background: url('contact-icons.png') -160px 0px no-repeat;
			width: 25px;
		}
	}
	li.consult_in_group {
		a, span {
			background: url('contact-icons.png') -132px 0px no-repeat;
			width: 22px;
		}
	}
	li.visit_home {
		a, span {
			background: url('contact-icons.png') -48px 0px no-repeat;
			width: 24px;
		}
	}
	li.visit_school {
		a, span {
			background: url('contact-icons.png') -105px 0px no-repeat;
			width: 20px;
		}
	}
	li.consult_at_hospital {
		a, span {
			background: url('contact-icons.png') -189px 0px no-repeat;
			width: 20px;
		}
	}
	li.consult_at_camp {
		a, span {
			background: url('contact-icons.png') -211px 0px no-repeat;
			width: 21px;
		}
	}
	li.consult_at_other {
		a, span {
			background-color: #B0ACAE;
		}
	}
	li.appointment {
		@include appointment-style;
		clear: left;
		margin-top: 17px;
		margin-right: -3px;
	}
}

.rate_review {
	width: $contact_toolbar_width;
	float: left;
	> div {
		clear: left;
	}
	.appointment {
		@include appointment-style;
		padding-top: 16px;
	}
}

@mixin profile-info-style($bg) {
	@include masthead-style;
	background: $bg;
	padding-top: 8px;
	padding-bottom: 8px;
	font-family: $default_font_family;
}

.editor_buttons, .editor_info, .admin_info {
	@include profile-info-style(#F5F5F5);
	padding-left: 8px;
	padding-right: 8px;
	width: 946px;
	a {
		margin: 0 1em 0 1em;
	}
	#destroy_profile {
		float: right;
		input {
			color: $default_link_color;
			background: none;
		}
		input:hover {
			text-decoration: underline;
		}
	}
	.admin_notes {
		margin-right: 40px;
	}
}
.editor_info, .admin_info {
	@include profile-admin-style;
}
.provider_buttons {
	@include profile-info-style(#F5F5F5);
	text-align: center;
}

/*  Profile summary -------------------------------------------------------------------------- */

$profile_content_header_font_size: 15px;
$profile_content_line_height: 18px;
$profile_table_cell_top_padding: 14px;

.summary-text {
	width: 400px;
	float: left;
	p {
		font-size: 13px;
		line-height: $profile_content_line_height;
		color: #333;
		margin-bottom: 21px;
	}
	h3 {
		font-size: $profile_content_header_font_size;
		font-weight: bold;
		color: #000;
		line-height: $profile_content_line_height;
		margin-bottom: 2px;
	}
}

table.info {
	background: #FFF;
	padding: 20px;
	width: 470px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-background-clip: padding-box;
	-moz-box-shadow: 2px 2px 8px #ebebeb;
	-webkit-box-shadow: 2px 2px 8px #ebebeb;
	box-shadow: 2px 2px 8px #ebebeb;
	float: right;
	font-size: 13px;
	color: #333;
	line-height: 36px;
	th {
		text-align: right;
		line-height: $profile_content_line_height;
		padding-top: $profile_table_cell_top_padding;
		padding-right: 16px;
		font-size: $profile_content_header_font_size;
		width: 90px;
		vertical-align: top;
		span {
			font-weight: bold;
		}
	}
	td {
		width: 254px;
		line-height: $profile_content_line_height;
		padding-top: $profile_table_cell_top_padding;
		vertical-align: top;
		.list {
			@include bullet-separator-style;
		}
		> p + p {
			margin-top: 0.5em;
		}
	}
	.text-area {
		th {
			vertical-align: top;
		}
		td {
			white-space: pre-line;
		}
	}
	#specialties, #services {
		td {
			padding-top: 8px;
			p + p {
				margin-top: 0.5em;
			}
			.attribute_display {
				@include bullet-separator-style;
			}
		}
	}
	#services .popover {
		width: 510px;
		.char_count {
			float: right;
			padding-top: 25px;
		}
		.categories {
			@include stack-check-box-style;
		}
		.predefined_services, .predefined_specialties {
			div:last-child {
				margin-bottom: 8px;
			}
		}
		.text_field input {
			width: 430px;
		}
	}
	#availability_service_area {
		.popover {
			width: 468px;
			textarea {
				width: 438px;
			}
		}
	}
	#ages_stages {
		.popover {
			width: 478px;
			.text_field input {
				width: 448px;
			}
		}
	}
}

/*  Reviews -------------------------------------------------------------------------- */

.review-header {
	float: left;
	width: 122px;
	margin-right: 24px;
}
.review-header span, .reviews-grouped-header span {
	display: block;
	width: 100%;
}
.review-header span.author, .reviews-grouped-header span.author{
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}
.review-header span.location, .review-header span.num-reviews, .reviews-grouped-header span.location,  .reviews-grouped-header span.num-reviews{
	font-size: 12px;
	line-height: 16px;
	color: #8d8c8c;
}
.review-header span.num-reviews a , .reviews-grouped-header span.num-reviews a{
	color: #8d8c8c;
}
.review-body {
	font-size: 14px;
	line-height: 18px;
	color: #8d8c8c;
	width: 750px;
	float: left;
	margin-bottom: 12px;
}
.review-body p {
	margin-bottom: 18px;
	white-space: pre-line;
}
.review-body .reviews {
	margin-bottom: 6px;
	overflow: auto;
}
.review-date {
	font-size: 12px;
	color: #333;
	margin: 3px 0px 0px 12px;
	float: left;
}

.reviews-grouped .review{
	width: 750px;
	float: left;
	margin-top: 6px;
	margin-bottom: 6px;
	vertical-align:top;
}
.reviews-grouped .reviewer-info{
	display: inline-block;
	width: 80px;
}
.reviews-grouped .reviewer-rating{
	display: inline-block;
}
.reviews-grouped p {
	white-space: pre-line;
}
.reviews-grouped .review-body {
	display: inline-block;
	margin-bottom: 6px;
	margin-left: 90px;
	width: 380px;
}
.reviews-grouped .review-good-to-know {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	margin-top: -6px;
	padding: 0.7em;
	max-width:200px;
}
.reviews-grouped .review-good-to-know {
	font-size: 13px;
	line-height: 15px;
	color: #8d8c8c;
}
.reviews-grouped .review-date {
	font-size: 14px;
	color: #333;
	margin: 0px 0px 3px 0px;
	float: none;
}

.reviews-grouped h4 {
	color: #333;
	font-weight: bold;
}

/*  Editing -------------------------------------------------------------------------- */
$form_element_width: 388px;
@mixin form-style {
	form {
		> div, .form_section {
			margin: 12px 0px 13px 0px;
			clear: left;
			> label {
				margin-bottom: 6px;
			}
		}
	}
	.text_field {
		textarea, input, select {
			border: 1px solid #D5D5D5;
			padding: 14px;
			-moz-box-shadow: inset 4px 4px 10px #E5E5E5;
			-webkit-box-shadow: inset 4px 4px 10px #E5E5E5;
			box-shadow: inset 4px 4px 10px #E5E5E5;
			width: $form_element_width;
			font-size: 13px;
			color: #333;
			line-height: 18px;
			margin: 12px 0px 13px 0px;
			+ .note {
				margin-top: -4px;
			}
		}
	}
	label {
		font-weight: bold;
		color: #000;
		font-size: 14px;
		+ span {
			font-size: 14px;
		}
	}
	.check_box {
		@include check-box-style;
		+ .text_field {
			margin-top: 16px;
		}
	}
	.check_boxes.stacked {
		@include stack-check-box-style;
	}
	.char_count {
		float: right;
		width: auto;
		color: $text_light_color;
		font-size: 16px;
	}
	.char_count.over {
		color: $kinstantly_pink;
	}
	.note {
		margin-bottom: 14px;
		line-height: normal;
		+ .note {
			margin-top: -4px;
		}
	}
	.save {
		background: url('save-button.gif') 0px 0px;
		width: 53px;
		height: 26px;
		text-indent: -999em;
		float: left;
		margin-right: 3px;
	}
	.save:hover {
		background: url('save-button.gif') 0px -26px;
		cursor: pointer;
	}
	a.cancel {
		background: url('cancel-button.gif') 0px 0px;
		width: 61px;
		height: 26px;
		text-indent: -999em;
		display: block;
		float: left;
	}
	a.cancel:hover {
		background: url('cancel-button.gif') 0px -26px;
	}
	.label_highlight {
		color: $default_link_color;
	}
}

.editable {
	background: url('edit.png') 0px 0px no-repeat;
	background-size: 12px 15px;
	padding-left: 18px;
	margin-left: -18px;
}
#contact_options .editable {
	background-position: 8px 0; // Nudge contact-options edit icon to the right so it isn't confused with the star rating.
}
.editable:hover {
	background: url('edit-over.png') 0px 0px no-repeat;
	cursor: pointer;
}
div.popover {
	display: none;
	position: absolute;
	top: 160px;
	left: 340px;
	z-index: 1000;
	background: #FFF;
	width: 418px;
	padding: 26px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	-webkit-background-clip: padding-box;
	-moz-box-shadow: 1px 3px 8px #CCC;
	-webkit-box-shadow: 1px 3px 8px #CCC;
	box-shadow: 1px 3px 8px #CCC;
	border: 1px solid #DDD;
	margin-left: -25px;
	@include form-style;
}
.active {
	background: none !important;
	div.popover {
		display: block;
	}
}
.formlet {
	.blank_attr {
		display: inline;
		color: $text_light_color;
	}
	cursor: auto;
}

/*  Footer -------------------------------------------------------------------------- */

#footer {
	clear: both;
	width: 100%;
	background: #b0acae;
	margin-top: 37px;
	padding: 14px 0;
}
#bottom, #copyright {
	width: 100%;
	margin: 0px auto;
	text-align: center;
	font-size: 0.875em;
	line-height: 1.42857em;
	color: #FFF;
	font-family: $default_font_family;
	-webkit-font-smoothing: antialiased;
}
#bottom a, #copyright a {
	color: #FFF;
}

/* Form input / label styling  -------------------------------------------------------------------------- */

.input {
	display: block;
	float: left;
}
.input span {
	position: absolute;
	padding: 10px 13px;
	z-index: 1;
	cursor: text;
	font-family: $default_font_family;;
	font-size: 1.125em;
	color: rgba(153,153,153,0.92);
}
#line {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50%;
	background: url('line-complete.gif');
	height: 154px;
	z-index: -1 !important;
}

/*  Search results -------------------------------------------------------------------------- */

@mixin search-results-header-style {
	padding-left: 20px;
	padding-right: 20px;
}

.search_results {
	font-family: $default_font_family;
	h1 {
		@include search-results-header-style;
		font-weight: bold;
		font-size: 20px;
		line-height: 20px;
		margin: 20px auto;
		width: $masthead_width;
		a {
			font-size: 22px;
			line-height: 22px;
		}
	}
	.search_results_list{
		width: 900px;
		margin: 0px auto 20px auto;
	}
	
	.search_results_prompt {
		@include search-results-header-style;
		color: $text_light_color;
		font-size: 14px;
		line-height: 14px;
		margin: 20px auto;
		width: $masthead_width;
	}
	.search_results_options {
		@include profile-info-style(#b0acae);
		@include search-results-header-style;
		color: #ffffff;
		#get_location_button_area input {
			margin-left: 4px;
		}
		#nearest_results_msg {
			display: inline;
		}
		#get_location_button_area:before, #nearest_results_msg:before {
			@include pipe-separator-style;
		}
		form {
			display: inline;
			input[type="text"] {
				@include search-text-input-border-style;
				padding: 5px 6px;
				background: $search_input_background;
				color: $search_input_color;
				line-height: 1em;
				margin: auto 8px;
			}
			input[type="submit"] {
				background: url('search-24.png');
				background-size: contain;
				text-indent: -999em;
				width: 24px;
				height: 24px;
				border: none;
			}
			#search_city {
				width: 120px;
			}
		}
	}
	.search_result:first-of-type {
		padding-top: 0;
		border: {
			top-style: none;
		}
	}
	.search_result {
		max-width: 540px;
		padding-top: 22px;
		padding-bottom: 22px;
		border: {
			top-style: solid;
			top-width: thin;
			color: $text_lighter_color;
		}
		.profile-photo-placeholder {
			@include profile-photo-style;
			width: 56px;
			height: 40px;
			padding: 20px 2px 0 2px;
			margin-right: 16px;
			background-size: contain;
			background: url('profile-photo-placeholder-60.jpg') 0px 0px no-repeat;
		}
		.rating-title {
			display: none;
		}
		.short-profile {
			position: relative;
			.popover {
				position: absolute;
				top: 0;
				left: 0;
				width: 580px;
				.profile-photo-placeholder {
					width: 106px;
					height: 90px;
					margin-bottom: 10px;
					background: url('profile-photo-placeholder-110.jpg') 0px 0px no-repeat;
				}
				.profile {
					width: 450px;
					margin-right: 0;
					h1 {
						width: 100%;
					}
					.show_full_profile {
						float: right;
						font-size: 14px;
						font-weight: bold;
					}
				}
				.age_ranges {
					@include bullet-separator-style;
				}
				.specialties {
					clear: left;
					color: $text_light_color;
					line-height: 20px;
					@include bullet-separator-style;
				}
				.summary {
					clear: left;
					float: left;
					margin-top: 8px;
					color: $text_light_color;
					font-size: 14px;
				}
				.appointment {
					@include appointment-style;
					clear: left;
					float: left;
					margin-top: 8px;
				}
				.close {
					position: absolute;
					right: 30px;
					bottom: 26px;
				}
			}
		}
		.profile {
			margin-right: 16px;
			h1 {
				width: 100%;
				font-size: 18px;
				line-height: 20px;
				margin: 0 0 0.25em 0;
				padding: 0;
				a {
					font-size: 20px;
				}
				span {
					display: inline;
					color: #000000;
				}
				span:before {
					@include pipe-separator-style;
					font-weight: normal;
					color: $text_light_color;
				}
			}
			> span {
				margin-top: 0.25em;
			}
			span.specialties, span.location, span.location span {
				color: #000000;
			}
			span.specialties {
				@include bullet-separator-style;
			}
			span.summary {
				font-size: 14px;
				a.open {
					float: right;
					margin-right: 22px;
					font-weight: bold;
				}
			}
		}
		.rating-contact {
			float: left;
			> div {
				clear: left;
			}
			.provider_rating {
				float: left;
			}
			.appointment {
				@include appointment-style;
				padding-top: 12px;
			}
			.contact-toolbar {
				clear: left;
				margin-top: 12px;
			}
		}
	}
	nav.pagination span {
		margin-right: 1em;
	}
}

/*  Sign up, sign in, confirmation, password, unlock, account settings ------------------------ */
$generic_form_width: 418px;

.generic_form {
	@include form-style;
	width: $generic_form_width;
	margin: 0 auto;
	.text_field input {
		font-size: 16px;
	}
	.buttons {
		input, a {
			margin-right: 1em;
		}
		.default {
			@include default-button-style;
		}
		.default:hover {
			@include default-button-hover-style;
		}
		.cancel_link {
			@include cancel-button-style;
		}
		.cancel_link:hover {
			@include cancel-button-hover-style;
			text-decoration: none;
		}
	}
	.devise_shared_links {
		clear: both;
		margin-top: 12px;
		line-height: 1.5em;
	}
	.grey_text{
		color: #807F7F;
	}
}

.wider_form{
	@extend .generic_form;
	width: $generic_form_width * 1.5;
	.text_field {
		textarea, input, select {
			width: $form_element_width * 1.5 + 15px;
			max-width: $form_element_width * 1.5 + 15px;
		}
		label{
			@extend .ui-corner-all;
			padding: 4px;
		}
	}
	.field_with_errors{
		textarea, input, select {
			border: 1px solid rgba(228, 61, 93, 0.4);
		}
	}
	.column_1_of_2{
		position:relative;
		width: 47%;
		margin: 0 0 30px 0;
		display: inline-block;
		vertical-align: top;
		
		p{
			margin-top:8px;
			font-size: 17px;
			padding-top: 8px;
		}
		.rate-this{
			width: 170px;
		}
	}
	.left{
		float: left;
		margin-left:0;

	}

	.right{
		float: right;
		margin-right:0;
	}
	.column_25{
		@extend .column_1_of_2;
		width: 25%;
	}

	.column_70{
		@extend .column_1_of_2;
		width: 70%;
	}

	.rate_provider_form{
		padding-top: 0;
		margin-top: -10px;
	}
}

.tip{
	font-size: 14.5px;
}

.inner_content_wrapper{
	@extend .content-wrapper;
	max-width: $generic_form_width * 1.5;
}

.cancel_account {
	margin-top: 32px;
}

/* Contact */
$railwidth: 160px;
$masterwidth: 960px;

.contact *{
	font-family: $default_font_family;
	text-shadow: 0 1px #ccc;
}

.content-wrapper{
	width: $masterwidth;
	margin: 0 auto;
	padding: 0;
}

.column {
	float: left;
	margin: 0;
	padding: 0;
	min-height: 720px;
	height: 100%;
}

.left-rail, .right-rail{
	width: $railwidth;
}

.main-column{
	width: $masterwidth - 2 * $railwidth;
}

.column-inner-content{
	padding: 25px;
}

.contact .bold{
	font-weight: bold;
}

.contact .left{
	float: left;
}

.contact .right{
	float: right;
}

.contact-content-block{
	text-align: left;
	vertical-align: top;
	padding: 0 30px;
}

.contact-content-block p{
	font-size: 18px;
}

.contact-content-block ul{
	padding: 20px 40px;
}

.contact .address-block{
	display: inline-block;
	padding-top: 15px;
}

.contact .highlight{
	color: #d05365;
}

.contact h1{
	font-size: 32px;
	padding: 45px 0 10px 0;
	font-weight: bold;
	text-shadow: 1px 1px #aaa;
}

.contact h2{
	font-size: 25px;
	padding: 75px 0 10px 0;
	font-weight: bold;
	text-shadow: 1px 1px #aaa;
}

@mixin contact-icon-style{
	width: 45px;
	height: 45px;
	background-size: 1000%
}

.contact-mail{
	background: url("contact-icons.png") no-repeat scroll 0px 0 transparent;
	@include contact-icon-style;
}

.contact-phone{
	background: url("contact-icons.png") no-repeat scroll -48px 0 transparent;
	@include contact-icon-style;
}

ul.social-contact-list{
	line-height: 34px;
}

ul.email-contact-list{
	padding: 20px 40px;
}

ul.email-contact-list li:before{
	content: '\25B8';
}

@mixin social-icon-style{
	display: inline-block;
	width: 32px;
	height: 32px;
	vertical-align: middle;
}

.twitter_link{
	background: url("twitter.png") no-repeat scroll 0px 0 transparent;
	@include social-icon-style;
}

.facebook_link{
	background: url("facebook.png") no-repeat scroll 0px 0 transparent;
	@include social-icon-style;
}

.google_link{
	background: url("googleone.png") no-repeat scroll 0px 0 transparent;
	@include social-icon-style;
}

/*  Show all categories --------------------------------------------- */

#show_all_categories {
	font-family: $default_font_family;
	.content {
		width: 880px;
		padding-left: 20px;
		padding-right: 20px;
		margin: 0px auto 0px auto;
		font-size: 1.05em;
		h1 {
			font-family: 'museo_slab500', Helvetica, Arial, sans-serif;
			text-align: center;
			font-size: 24px;
			line-height: 24px;
			margin: 20px auto;
			a {
				font-size: 22px;
				line-height: 22px;
			}
		}
		.col {
			float: left;
			width: 264px;
			h3 {
				color: #000;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 0.8125em;
				line-height: 1.3846em;
			}
			ul {
				font-size: 0.8125em;
				font-weight: bold;
				line-height: 1.30769em;
				margin-bottom: 22px;
			}
		}
		#col1 {
			clear: left;
		}
		#col1, #col2 {
			margin-right: 36px;
		}
	}
}

/* Profile photo */
$large_photo_y: 168px;
$medium_photo_y: 110px;
$small_photo_y: 60px;

@mixin photo-wrapper-style{
	float:left;
	overflow:hidden;
	img{
		border: 0;
	}
}

div.photo-wrapper-large{
	@include photo-wrapper-style;
	height: $large_photo_y + 30px;
	width: $large_photo_y;
	margin-right: 34px;
	img{
		max-height: $large_photo_y;
		max-width: $large_photo_y;
	}
}

div.photo-wrapper-medium{
	@include photo-wrapper-style;
	height: $medium_photo_y;
	width: $medium_photo_y;
	margin-right: 16px;
	img{
		max-height: $medium_photo_y;
		max-width: $medium_photo_y;
	}
}

div.photo-wrapper-small{
	@include photo-wrapper-style;
	height: $small_photo_y;
	width: $small_photo_y;
	margin-right: 16px;
	img{
		max-height: $small_photo_y;
		max-width: $small_photo_y;
		cursor: pointer;
	}
}

span.inline_block_attr{
		display: inline-block;
		width: 100%;
		text-align: center;
}

.profile-photo-update{
		width:508px !important;
}
.profile-photo-update p{
	color: #807f7f;
	font-size: 14px;
	padding: 5px 0 0 0;
}

.file-drop{
		height: $large_photo_y;
		width: $large_photo_y;
		border: 1px solid red;
		background-color: #efefef;
		margin: 10px 0 5px 135px;
		position: relative;
		padding: 0;
		overflow:hidden;
}
.file-drop span{
	color: #aaa;
	font-size:14px;
	top: 70px;
	position: relative;
	width: 100%;
	text-align: center;
	display: inline-block;
}
.upload-result{
	@extend .file-drop;
	border:0;
}

.upload-waiter{
	background: url('loading_large.gif') no-repeat center center;
	background-color:rgba(240,240,240,0.7);
	position: absolute;
	top: 0px;
	right: 0;
	height: $large_photo_y;
	width: $large_photo_y;
}

.upload-button{
	font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
	font-weight: bold;
	font-size: 17px;
	color:#fff;
	background-color: #afb434;
	padding: 13px 9px;
	@extend .clickable;
}

.upload-button:after{
	content: "upload";
}

.upload-button:hover{
	background-color: #9fa42f;
}

.aria-hidden{
	display: none;
}

.clickable{
	cursor: pointer;
}

.close-popover-button{
	@extend .clickable;
	position: absolute;
	right: 7px;
	top: 7px;
	width: 20px;
	height: 20px;
	color: #fff;
	border: 1px solid #AEAEAE;
	border-radius: 5px;
	background: #BEBEBE;
	font-size: 18px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
}

.close-popover-button:after{
	content: 'x';
}

.step_three h3{
	color: #3D3D3D;
	margin: 5px 0 0 0;
	font-weight: bold;
}

ul.links-list > li{
	margin-left:30px;
	font-size: 15px;
	color: #807f7f;
}

/*Google Map*/
.column-left{
	float: left;
	width: 66.6%;
}
.column-right{
	float: right;
	width: 33.3%;
}
.locations_map{
	float: right;
	position: relative;

	.map_positioner{
		position: relative;
		left: 0;
		top: 0;
	}
}

.locations_map #map_canvas{
	width: $large_photo_y + 140px;
	height: $large_photo_y + 100px;
}

.search_results .locations_map #map_canvas{
	height: $large_photo_y + 200px;
	border: thin solid #d9d8d8;
}

.locations_map #map_canvas p:not(.map_popup_text){
	margin-top: 15px;
	padding: 10px 15px;
	font-size: 15px;
}

.locations_map #map_canvas {
	p.map_popup_text{
		text-transform: capitalize;
		overflow: hidden !important;
	}
	p.map_popup_title{
		font-weight: bold;
	}
}
.two-column{
	.left-rail{
		width: 3.5 * $railwidth;
	}
	.right-rail{
		width: 0;
	}
	.main-column{
		width: $masterwidth - 3.5 * $railwidth;
	}
}
h2.highlight{
	color: #d05365;
	font-size: 25px;
	font-weight: bold;
	text-shadow: 1px 1px #aaa;
}
.logo-wallpaper{
	background: #FFF url('home-img.jpg') -504px -78px no-repeat;
	min-height: 524px;
}
.smaller_form{
	.text_field input {
		width: 320px;
	}
}

