.top_nav {
	text-align: center;
	border: {
		width: medium;
		color: gray;
		style: solid;
	}
	padding: 8px 10px 8px 10px;
	margin: 10px;
	.nav_el, .search_providers {
		margin: 0.25em 1em 0.25em 1em;
		display: inline-block;
	}
	.flash_messages {
		.notice {
			color: rgba(0,127,0,0.92);
		}
		.alert {
			color: rgba(160,0,0,0.92);
		}
	}
}
