.top_nav {
	text-align: center;
	border: {
		width: medium;
		color: gray;
		style: solid;
	}
	padding: 10px;
	margin: 10px;
	.nav_el {
		margin: 0 1em 0 1em;
		display: inline-block;
	}
	.flash_messages {
		.notice {
			color: green;
		}
		.alert {
			color: red;
		}
	}
}
