// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$profile_margin: 10px;

@mixin header-style {
	text-align: center;
	font: {
		size: 24px;
		weight: bold;
	}
}

@mixin profile-areas-div-style {
	border: {
		width: medium;
		color: gray;
		style: solid;
	}
	margin-bottom: 1em;
	padding: 1em;
}

@mixin cell-style {
	border: {
		width: thin;
		color: gray;
		style: solid;
	}
	padding: 4px;
}

@mixin check-box-style {
	float: left;
	margin-left: 1em;
	margin-bottom: 0.5em;
	background-color: #EEEEEE;
}

@mixin required-field-label-style {
	border: {
		width: medium;
		color: green;
		style: solid;
	}
	padding: 2px;
}

div.view_profile {
	margin: $profile_margin;
	#headline {
		text-align: center;
	}
	.buttons {
		margin-bottom: 1em;
		a {
			margin: 0 1em 0 1em;
		}
		#destroy_profile {
			float: right;
		}
	}
	.rating_info {
		> div, > div > div, form {
			display: inline-block;
		}
		> div {
			margin-right: 3em;
		}
	}
	.account_areas, .profile_areas {
		> div, > fieldset {
			@include profile-areas-div-style;
			> div, > fieldset {
				margin-bottom: 0.5em;
				.value {
					@include cell-style;
				}
			}
		}
	}
	.location + .location, .review + .review {
		border-top: {
			width: medium;
			color: gray;
			style: solid;
		}
		padding-top: 1em;
	}
}

.edit_profile, .edit_account, .edit {
	margin: $profile_margin;
	.buttons {
		margin-bottom: 1em;
		a {
			margin: 0 1em 0 1em;
		}
		#destroy_profile {
			float: right;
		}
	}
	#review_area, #review_area fieldset {
		@include profile-areas-div-style;
		form > div {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			clear: left;
		}
	}
	form {
		.account_areas, .profile_areas, .location_contact_profile, .reviews {
			> div, > fieldset {
				@include profile-areas-div-style;
				> div, > fieldset {
					padding-top: 0.5em;
					padding-bottom: 0.5em;
					clear: left;
				}
			}
		}
		.profile_areas {
			.display_name_area .display_name {
				border: {
					width: thin;
					color: gray;
					style: solid;
				}
				padding: 2px;
				margin-left: 1em;
			}
			.label_area {
				float: left;
				margin-right: 1em;
			}
			.expertise_profile > div {
				padding-bottom: 1em;
			}
			.expertise_selection {
				.col {
					float: left;
					+ .col {
						border-left: 1px solid #bbbbbb;
					}
				}
				h4 {
					text-transform: uppercase;
					margin: 0 4px;
					border-top: 1px solid #bbbbbb;
					background-color: #eeeeee;
				}
				ul {
					list-style-type: none;
					li.subcategory {
						font-weight: bold;
						margin: 1em 0.2em 0.5em -2em;
						border-top: 1px solid #bbbbbb;
						background-color: #eeeeee;
					}
					ul {
						li {
							margin-left: -3em;
						}
					}
				}
			}
			.categories, .services, .specialties, .stages, .accepting_new_clients, .consultations, .visits {
				.check_box {
					@include check-box-style;
				}
			}
			.predefined_services, .predefined_specialties {
				~ span.note {
					clear: left;
					float: left;
				}
			}
			.name, .custom_categories, .custom_services, .custom_specialties {
				.text_field {
					@include check-box-style;
				}
				span.note {
					margin-left: 1em;
				}
			}
			.specialties .notice {
				float: left;
				margin-left: 1em;
				margin-bottom: 0.5em;
			}
		}
		.buttons {
			margin-bottom: 2em;
		}
		.required_field_icon {
			width: 16px;
			height: 16px;
		}
		.info_area {
			margin-bottom: 1em;
			.required_field_text {
				@include required-field-label-style;
			}
		}
	}
}

.cancel_account {
	margin: $profile_margin;
	@include profile-areas-div-style;
}

.profile_index, .profile_admin, .admin, .index {
	margin: $profile_margin;
	h1 {
		@include header-style;
	}
	#top_bar {
		margin-bottom: 1em;
		> div {
			display: inline-block;
		}
		a {
			margin: 0 1em 0 1em;
		}
		#profile_stats {
			float: right;
			background-color: #eeeeee;
		}
		.buttons a {
			line-height: 1.5em;
			display: inline-block;
		}
	}
	.pagination {
		margin: 0.5em 1em 0.5em 1em;
		span {
			margin-right: 1em;
		}
	}
	.profile_list, .list {
		table {
			border-collapse: collapse;
			th, td {
				@include cell-style;
				min-width: 8em;
			}
			th.small, td.small {
				min-width: 4em;
			}
			th.large {
				min-width: 16em;
			}
		}
	}
	.content {
		> div {
			@include profile-areas-div-style;
		}
		form {
			.check_box {
				@include check-box-style;
			}
			.buttons {
				clear: left;
			}
		}
	}
}

div.search_results {
	margin: $profile_margin;
	h3 {
		text-align: center;
	}
	.buttons {
		margin-bottom: 1em;
		#get_location_button {
			margin-right: 1em;
		}
		form {
			margin: 0 1em 0 1em;
			display: inline-block;
		}
	}
	.search_results_list {
		#search_by_location_placeholder {
			color: blue;
		}
		> div {
			@include profile-areas-div-style;
		}
		.expert_result {
			table {
				width: 100%;
			}
			td {
				vertical-align: top;
				> div {
					margin-top: 0.2em;
					margin-bottom: 0.2em;
				}
			}
			td.left {
				width: 50%;
			}
			div.right {
				clear: right;
				text-align: right;
			}
			.provider_rating {
				float: right;
				form {
					display: inline-block;
				}
			}
			.name {
				font: {
					weight: bolder;
					size: large;
				}
			}
		}
	}
}

.sign_up, .sign_in {
	margin: $profile_margin;
}

span.note, span.hint {
	font: {
		style: italic;
		weight: lighter;
		size: small;
	}
}

.text_area {
	white-space: pre-line;
	margin-bottom: 0.5em;
}

a.emphasized {
	font-style: italic;
}

form {
	label.required {
		@include required-field-label-style;
	}
	.field_with_errors {
		background-color: #ffb3b3;
	}
	.errorExplanation {
		color: rgb(160,0,0);
		h2, p {
			display: none;
		}
	}
}

.hidden {
	display: none;
}
