// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.view_profile {
	margin: 10px;
	.buttons {
		margin-bottom: 1em;
	}
}

.edit_profile {
	margin: 10px;
	form .buttons {
		margin-top: 1em;
	}
}
