// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$profile_margin: 10px;

@mixin profile-areas-div-style {
	border: {
		width: medium;
		color: gray;
		style: solid;
	}
	margin-bottom: 1em;
	padding: 4px;
}

@mixin cell-style {
	border: {
		width: thin;
		color: gray;
		style: solid;
	}
	padding: 4px;
}

.view_profile {
	margin: $profile_margin;
	.buttons {
		margin-bottom: 1em;
	}
	.profile_areas > div {
		@include profile-areas-div-style;
		> div {
			margin-bottom: 0.5em;
			.value {
				@include cell-style;
			}
		}
	}
}

.edit_profile {
	margin: $profile_margin;
	form.edit_user {
		.profile_areas > div {
			@include profile-areas-div-style;
			> div {
				margin-bottom: 0.5em;
			}
		}
		.buttons {
			margin-bottom: 2em;
		}
	}
}

.profile_index {
	margin: $profile_margin;
	.profile_list {
		table {
			border-collapse: collapse;
			th, td {
				@include cell-style;
				min-width: 8em;
			}
			th.large {
				min-width: 16em;
			}
		}
	}
}

span.note {
	font: {
		style: italic;
		weight: lighter;
		size: small;
	}
}
