- if @success
	window.location.replace("#{profile_path @review.profile}#reviews");
- else
	$('#edit_review_div_#{@review.id}').html('#{escape_javascript(render partial: 'admin_edit', locals: {review: @review})}');
