%html
	%body
		%table{border: '0', cellspacing: '0', cellpadding: '0', style: 'font-family:Helvetica,Arial,sans-serif;border-style:none;'}
			- if @show_logo
				%tr
					%td{align: 'center'}
						= link_to root_url do
							= image_tag attachments['kinstantly-logo-small.png'].try(:url), alt: "logo"
						%h2 WELCOME TO KINSTANTLY!
			%tr
				%td
					= yield
			%tr
				%td
					%table{border: '0', cellspacing: '0', cellpadding: '8', style: 'font-family:Helvetica,Arial,sans-serif;font-size:85%;border-style:none;background-color:#dddddd;width:100%;margin-top:32px'}
						%tr
							%td{align: 'center'}
								Kinstantly, Inc.&nbsp;&nbsp;&nbsp;350 Townsend Street, #683&nbsp;&nbsp;&nbsp;San Francisco, CA 94107
						- if @unsubscribe_url
							%tr
								%td{align: 'center'}
									= link_to t('views.contact_blocker.view.unsubscribe_link'), @unsubscribe_url
