%html
	%body
		%table{border: '0', cellspacing: '0', cellpadding: '0', style: 'font-family:Helvetica,Arial,sans-serif;border-style:none;'}
			%tr
				%td{align: 'center'}
					= image_tag mailer_image_url('logo-web-red-type-260x62.png'), alt: mailer_logo_alt
			%tr
				%td
					= yield
			%tr
				%td{align: 'center'}
					%br
					%br
					Kinstantly, Inc.&nbsp;&nbsp;&nbsp;350 Townsend Street, #683&nbsp;&nbsp;&nbsp;San Francisco, CA 94107
			- if @unsubscribe_url
				%tr
					%td{align: 'center'}
						%br
						%br
						= link_to t('views.contact_blocker.view.unsubscribe_link'), @unsubscribe_url
